# Copiá este archivo como .env y completá con tus datos
DATABASE_URL=postgresql://postgres:Nicolasxd22@localhost:5432/registro_eventos
MERCADOPAGO_ACCESS_TOKEN=APP_USR-7905977770900582-052010-ba09f5d292c56b2dced5e63e5b9b708a-3415652772
FRONTEND_BASE_URL=http://localhost:5173
